<%
/*
ARTICLE ITEM TEMPLATE
receives the article's details as params.article encoded in JSON+BASE64

var article = {
	title: '',
	subtitle: '',
	author: '',
	date: '',
	url: '',
	metaTitle: ''
};
*/

var article = JSON.parse(new Buffer(this.params.article, 'base64').toString('ascii'));
%>

<article class="article-item">
	<header>
		<a href="/articles/<%= article.url %>.html" title="<%= article.metaTitle %>">
			<h1>
				<%= article.title %><br>
	            <small><%= article.subtitle %></small>
	        </h1>
			<h2>
				<small><%= article.date %><br>by</small> <%= article.author %>
			</h2>
		</a>
	</header>
	<footer>
		<a href="/articles/<%= article.url %>.html" class="read-more" title="<%= article.metaTitle %>">read more</a>
	</footer>
</article>