---
layout: medium
---

<div class="post-header">

    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>

    <blockquote>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %}<br>by <b>{{ page.author }}</b>{% endif %}
    </blockquote>
</div>

<div class="post-content">
    {{ content }}
</div>

<!-- More Articles -->
<div class="post-list">
    <h2>Further Readings</h2>
    {% for post in site.posts %}
        {% if post.layout == 'medium-news' %}
        {% if post.url != page.url %}
            {% include medium-news-item.html %}
        {% endif %}
        {% endif %}
    {% endfor %}
</div>

<a href="{{ '/' | site.baseurl }}" class="btn btn-secondary-outline btn-lg" style="position:fixed;top:5px;right:5px;color:#444;border:0px solid #444;">
    X
</a>