---
layout: medium
---

<div class="post-header" style="text-align:left;margin-top: 2rem;">
    <h2 style="margin-bottom:1rem;text-align:center;">NoBlackMagic.com - News</h2>
    <div class="news-list-item">
        <div class="row" style="background:#efefef;padding-top:25px;">
            <div class="col-xs-2 news-date">
                <time>
                    <span class="news-month" style="color:#666">{{ page.date | date: "%B" }}</span>
                    <span class="news-day">{{ page.date | date: "%-d" }}</span>
                    <span class="news-year">{{ page.date | date: "%Y" }}</span>
                </time>
            </div>
            <div class="col-xs-10 news-title">
                <p>
                    <h1 style="font-size:1.25rem;font-family:Lato;font-weight:normal;margin-bottom:7px;">{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 style="font-size:0.75rem">{{ page.subtitle }}</h2>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="post-content">
    {{ content }}
</div>

<!-- More Articles -->
<div class="post-list">
    <h2>Further Readings</h2>
    {% for post in site.posts %}
        {% if post.layout == 'medium-news' %}
        {% if post.url != page.url %}
            {% include medium-news-item.html %}
        {% endif %}
        {% endif %}
    {% endfor %}
</div>

<a href="{{ '/' | site.baseurl }}" class="btn btn-secondary-outline btn-lg" style="position:fixed;top:5px;right:5px;color:#444;border:0px solid #444;">
    X
</a>