---
layout: medium
---

<div class="post-header">

    {% if page.image %}
    <img src="{{ site.basepath }}images/articles/{{ page.image }}"
         class="img-circle center-block post-img"
         style="width: 100px; margin: 2rem auto" />
    {% endif %}

    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>

    <blockquote>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %}<br>by <b>{{ page.author }}</b>{% endif %}
    </blockquote>
</div>

<div class="post-content">
    {{ content }}
</div>

<!-- More Articles -->
<div class="post-list">
    
    <h2>Further Readings</h2>

    {% for post in site.posts %}
        {% if post.url != page.url %}
            {% include medium-post-item.html %}
        {% endif %}
    {% endfor %}
</div>

<a href="{{ '/' | site.baseurl }}" class="btn btn-primary-outline btn-sm" style="position:fixed;top:5px;left:5px;">
    <i class="fa fa-home"></i> Home
</a>